/* .card {
    background-color: #2F2F2F;
} */

.completed-card {
    background-color: #202020;
    border-color: #7AB530;
}

.incomplete-card {
    background-color: #2F2F2F;
    box-shadow: 4px 4px 4px 4px black;
}

.incomplete {
    background-color: #C620A7;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
    border-radius: 5px;
    
}

.complete {
    background-color: #202020;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
    border-radius: 5px;
    
}

span {
    color: #AFAFAF;
    float:right;
}

span:hover {
    color:#C620A7;
}

.taskname {
    color: white;
}

